useDynLib(DierckxSpline)

export(curfit, percur, concon, integral.dierckx, insert,
       curfit.free.knot, xyw.coords, dierckx2fd, fd2dierckx, 
       predict.dierckx, controlPolygon, splineZeros,
       curfit.default, panel.dierckx)
## knots ???
##       jupp, juppinv, jupp.prior, jupp.naive, extend.prior)

importFrom(stats, coef, knots, residuals, fitted,
           deviance, predict, deriv, profile, confint)
importFrom(lattice, xyplot)
#importFrom(lattice, panel)
importFrom(PolynomF, integral) 

S3method(curfit, default)
S3method(curfit, formula)
S3method(concon, default)

S3method(update, dierckx)
S3method(coef, dierckx)
S3method(knots, dierckx)
S3method(residuals, dierckx)
S3method(fitted, dierckx)
S3method(deviance, dierckx)
S3method(print, dierckx)
S3method(predict, dierckx)
S3method(deriv, dierckx)
S3method(integral, dierckx)
S3method(insert, dierckx)
S3method(profile, dierckx)
S3method(confint, dierckx)
S3method(confint, profile.dierckx)
S3method(xyplot, dierckx)
#S3method(panel, dierckx)
